<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Создать заявку</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 bt-3">Создать новую заявку</h3>
    <form style="max-width: 50vw" method="POST" th:action="@{/task/add}" th:object="${taskForm}"
          enctype="multipart/form-data">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="nameTask" type="text" class="form-control input-bg" id="nameTask"
                           placeholder="Тема заявки"
                           required>
                    <label for="nameTask">Тема заявки</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g2">
            <div class="col-md">
                <div class="form-floating mb-3">
                    <textarea name="description" class="form-control input-bg" id="description" rows="5"
                              placeholder="Описание проблемы" required></textarea>
                    <label for="description" class="form-label">Описание проблемы</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g2">
            <div class="col-md">
                <div class="input-group mb-3">
                    <input name="file" type="file" class="form-control input-bg" id="file">
                </div>
            </div>
        </div>
        <div class="mt-3 row g2">
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select input-bg" name="priority" id="priority" required>
                        <!--                        <option selected value="default">Выберите приоритет заявки</option>-->
                        <option th:each="priority : ${T(ru.sber.spring.java13springmy.sdproject.model.Priority).values()}"
                                th:value="${priority}" th:text="${priority.priorityTextDisplay()}"></option>
                    </select>
                    <label for="priority">Приоритет заявки</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select input-bg" name="typeTaskId" id="typeTaskId" required>
                        <option th:each="typeTask : ${typeTaskForm}"
                                th:if="${!typeTask.isDeleted()}"
                                th:value="${typeTask.getId()}" th:text="${typeTask.getNameType()}"></option>
                        <!--                        <option selected th:value="${typeTask.getId(2)}">Выберите тип заявки</option>-->
                        <div class="invalid-feedback">Обязательное поле для заполнения</div>
                    </select>
                    <label for="typeTaskId">Тип заявки</label>
                </div>
            </div>
        </div>
        <hr class="hr"/>
        <div sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('EXECUTOR'))" class="mt-3 row g2">
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select input-bg" name="categoryId" id="categoryId" required>
                        <option th:each="category : ${categoryForm}"
                                th:value="${category.getId()}" th:text="${category.getNameCategory()}"
                        ></option>
<!--                        th:if="${!category.isDeleted()}"-->
<!--                        <option selected value="default">Выберите категорию заявки</option>-->
                    </select>
                    <label for="categoryId">Категория заявки</label>
                    <!--                    <div class="invalid-feedback">Обязательное поле для заполнения</div>-->
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select input-bg" name="workerId" id="workerId" required>
<!--                        <option selected value="default">Выберите специалиста</option>-->
                        <option th:each="worker : ${workerForm}"
                                th:if="${!worker.isDeleted()}"
                                th:value="${worker.getId()}" th:text="${worker.getId()} == 1 ?
                                'Не назначена' : ${worker.getLastName() + ' '+ worker.getFirstName().charAt(0) +
                                '. ' + worker.getMiddleName().charAt(0) + '.'}"
                                th:selected="${worker.getId() eq 1}"></option>></option>
                    </select>
                    <label for="workerId">Специалист</label>
                    <!--                    <div class="invalid-feedback">Обязательное поле для заполнения</div>-->
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary" onclick="validateForm()">Добавить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>