<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Остановить заявку</title>
</head>
<body>
<div layout:fragment="content">
  <div class="mt-3 row g-2">
      <h3 class="mt-3 bt-3" th:text="'Остановить заявку № ' + ${reasonForm.getId()} + ' от ' +
      ${#temporals.format(reasonForm.getCreateDate(), 'dd-MM-yyyy HH-mm')}"></h3>

  </div>
  <div class="mb-2 row">
    <label for="nameTask" class="col-sm-2 col-form-label no-border">Тема заявки:</label>
    <div class="col-sm-10">
      <p th:text="${reasonForm.getNameTask()}" type="text" readonly class="form-control-plaintext"
         id="nameTask">
    </div>
  </div>
  <form enctype="multipart/form-data" class="needs-validation" style="max-width: 50vw" method="POST"
        th:action="@{/task/stopTask}" th:object="${taskStopForm}">
    <input type="hidden" name="id"
           th:value="${reasonForm.getId()}">
    <div>
      <div class="mt-3 row g2">
        <div class="col-md">
          <div class="form-floating mb-3">
            <input name="decision" th:value="${reasonForm.getDecision()}" class="form-control input-bg"
                   id="decision" placeholder="Обоснование для остановки заявки" required>
            <label for="decision">Обоснование для остановки заявки</label>
            <div class="invalid-feedback">Обязательное поле для заполнения</div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-3 row g-2">
      <button type="submit" class="btn btn-primary" onclick="validateForm()">Обновить</button>
      <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </div>
  </form>
</div>
</body>
</html>