<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Просмотр заявки</title>
</head>
<body>
<form layout:fragment="content">
    <div>
        <h3 th:text="'Информация о Заявке № ' + ${task.getId()} + ' от '+ ${#temporals.format(task.getCreateDate(), 'dd.MM.yyyy HH:mm')}"></h3>
        <form class="row g-1">
            <div class="mb-2 row">
                <label for="nameTask" class="col-sm-2 col-form-label no-border">Тема заявки:</label>
                <div class="col-sm-10">
                    <p th:text="${task.getNameTask()}" type="text" readonly class="form-control-plaintext"
                       id="nameTask">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="statusTask" class="col-sm-2 col-form-label no-border">Текущий статус:</label>
                <div class="col-sm-10">
                    <p th:text="${task.getStatusTask().statusTaskTextDisplay()}"
                       type="text" readonly class="form-control-plaintext" id="statusTask">
                </div>
            </div>
            <hr class="hr"/>
            <table class="table table">
                <thead>
                <tr>
                    <th scope="col">Дата события</th>
                    <th scope="col">Событие</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="history : ${historyForm}">
                    <td>
                        <a th:text="${#temporals.format(history.getCreatedWhen(), 'dd.MM.yyyy HH:mm')}">Дата события</a>
                    </td>
                    <td th:text="${history.getEvent()}">Событие</td>
                </tr>
                </tbody>
            </table>
        </form>
        <hr class="hr"/>
        <div class="mt-2">
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </div>
</form>
</body>
</html>