<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Просмотр заявки</title>
</head>
<body>
<form layout:fragment="content">
    <div>
        <h3 th:text="'Информация о Заявке № ' + ${task.getId()} + ' от '+ ${#temporals.format(task.getCreateDate(), 'dd.MM.yyyy HH:mm')}"></h3>
        <form class="row g-1">
            <div class="mb-2 row">
                <label for="nameTask" class="col-sm-2 col-form-label no-border">Текущий статус:</label>
                <div class="col-sm-10">
                    <p th:text="${task.getStatusTask().statusTaskTextDisplay()}"
                       type="text" readonly class="form-control-plaintext" id="statusTask">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="nameTask" class="col-sm-2 col-form-label no-border">Тема заявки:</label>
                <div class="col-sm-10">
                    <p th:text="${task.getNameTask()}" type="text" readonly class="form-control-plaintext"
                       id="nameTask">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="description" class="col-sm-2 col-form-label no-border">Описание:</label>
                <div class="col-sm-10">
                    <p th:text="${task.getDescription()}" type="text" readonly class="form-control-plaintext"
                       id="description">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="description" class="col-sm-2 col-form-label no-border">Файл:</label>
                <div class="col-sm-10">
                    <div sec:authorize="isAuthenticated()">
                        <a class="text-link text-blue" th:if="${task.getFiles()} != null"
                           th:href="@{|/task/download?taskId=${task.id}|}">
                            <span>Скачать файлы</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="mb-2 row">
                <label for="description" class="col-sm-2 col-form-label no-border">Автор:</label>
                <div class="col-sm-10">
                    <p th:text="${task.getUser().getLastName()+ ' ' + task.getUser().getFirstName().charAt(0) +
                       '. ' + task.getUser().getMiddleName().charAt(0) + '.'}"
                       type="text" readonly class="form-control-plaintext" id="lastName">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="description" class="col-sm-2 col-form-label no-border">Информация:</label>
                <div class="col-sm-10">
                    <p th:text="${task.getDecision()}" type="text" readonly class="form-control-plaintext"
                       id="decision">
                </div>
            </div>
        </form>
        <hr class="hr"/>
        <form class="row g-1">
            <h4 class="mt-3 mb-3" th:text="'Служебная информация '"></h4>
            <form class="row g-1">
                <div class="mb-2 row">
                    <label for="nameTask" class="col-sm-2 col-form-label no-border">Тип заявки:</label>
                    <div class="col-sm-10">
                        <p th:text="${task.getTypeTask().getNameType()}" type="text" readonly
                           class="form-control-plaintext"
                           id="typeTask">
                    </div>
                </div>
                <div class="mb-2 row">
                    <label for="nameTask" class="col-sm-2 col-form-label no-border">Категория:</label>
                    <div class="col-sm-10">
                        <p th:text="${task.getCategory().getNameCategory()}" type="text" readonly
                           class="form-control-plaintext"
                           id="category">
                    </div>
                </div>
                <div class="mb-2 row">
                    <label for="nameTask" class="col-sm-2 col-form-label no-border">Срок выполнения:</label>
                    <div class="col-sm-10">
                        <p th:text="${#temporals.format(task.getEndDate(), 'dd-MM-yyyy HH-mm')}" type="text" readonly
                           class="form-control-plaintext"
                           id="endDate">
                    </div>
                </div>
                <div class="mb-2 row">
                    <label for="description" class="col-sm-2 col-form-label no-border">Исполнитель:</label>
                    <div class="col-sm-10">
                        <p th:text="${task.getWorker().getId()} == 1 ? 'Не назначена' : ${task.getWorker().getLastName() + ' '
                 + task.getWorker().getFirstName().charAt(0) +  '. ' + task.getWorker().getMiddleName().charAt(0) + '.'}"
                           type="text" readonly class="form-control-plaintext" id="worker">
                    </div>
                </div>
                <div class="mb-2 row">
                    <label for="description" class="col-sm-2 col-form-label no-border">Контакты:</label>
                    <div class="col-sm-10">
                        <p th:text="${task.getWorker().getPhone()+ ' (' + task.getWorker().getEmail() + ')'}"
                           type="text" readonly class="form-control-plaintext" id="contacts">
                    </div>
                </div>
            </form>
            <hr class="hr"/>
            <div class="mt-2">
                <div sec:authorize="isAuthenticated() && (hasRole('EXECUTOR')|| hasRole('MAIN_EXECUTOR'))">
                    <div class="btn-group" role="group" aria-label="Basic  example">
                        <div th:if="${!(task.getStatusTask() eq  task.getStatusTask().COMPLETED) &&
                                !(task.getStatusTask() eq  task.getStatusTask().CLOSED) &&
                                !(task.getWorker.getId() eq userId)}">
                            <a type="button" class="btn btn-sm btn-success" id="takeTask"
                               th:href="'/task/takeTask/'+${task.id}">Взять</a>
                        </div>
                        <div th:if="${!(task.getStatusTask() eq  task.getStatusTask().COMPLETED) &&
                                !(task.getStatusTask() eq  task.getStatusTask().CLOSED) &&
                                !(task.getStatusTask() eq  task.getStatusTask().STOPPED)}">
                            <a type="button" class="btn btn-sm btn-danger" id="stopTask"
                               th:href="'/task/stopTask/' + ${task.id}">Остановить</a>
                        </div>
                        <div th:if="${!(task.getStatusTask() eq  task.getStatusTask().COMPLETED) &&
                                !(task.getStatusTask() eq  task.getStatusTask().CLOSED)}">
                            <a type="button" class="btn btn-sm btn-warning" id="executeTask"
                               th:href="'/task/executeTask/' + ${task.id}">Выполнить</a>
                        </div>
                    </div>
                    <a class="btn btn-sm btn-success" id="update"
                       th:href="'/task/update/' + ${task.id}">Обновить</a>
                </div>
            </div>
            <div class="mt-2">
                <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
                <a class="btn btn btn-success" id="history"
                   th:href="'/task/history/' + ${task.id}">История</a>
            </div>
        </form>
</body>
</html>